<template>
  <v-row>
    <v-col cols="12" sm="3">
      <v-card>
        <v-card-title>
          <v-toolbar-title>Schema keys</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-simple-table>
          <template v-slot:default>
            <tbody>
              <tr v-for="item in schema.keySchema" :key="item" align="left">
                <td>{{ item }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-col>
    <v-col cols="12" sm="6">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="keys"
          :items-per-page="2"
          sort-by="key"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar color="light">
              <v-toolbar-title>Language keys</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Key edit</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field v-model="editedItem.name" label="Key name"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field v-model="editedItem.value" label="Key value"></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
            <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
          </template>
          <template v-slot:no-data>no data</template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    /* Data table title */
    title: String,
    /* Data schema containing data to be displayed */
    schema: Object,
    /* Current language's slug */
    language: String
  },
  mounted() {
    this.initializeKeysTable();
  },
  data() {
    return {
      /* {Boolean} flag enabling the key edit dialog */
      dialog: false,
      /* {Array} datatable headers */
      headers: [
        {
          text: "Key name",
          align: "left",
          sortable: true,
          value: "name"
        },
        { text: "Key value", value: "value", align: "center" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      /* {Array} datatable keys */
      keys: [],
      /* {Number} edited element's index */
      editedIndex: -1,
      /* {Object} edited element used as a model for the key edit form */
      editedItem: {
        name: "",
        value: ""
      },
      /* {Object} default element used as a model for the key create form  */
      defaultItem: {
        name: "",
        value: ""
      }
    };
  },
  methods: {
    /**
     * Datatable keys initializing (from data schema)
     * @returns {void}
     */
    initializeKeysTable() {
      if (this.schema.langs[this.language]) {
        this.keys = Object.entries(this.schema.langs[this.language]).map(
          ([name, value]) => ({
            name,
            value
          })
        );
      }
    },
    /**
     * Key edit handler
     * @param {Object} item currently edited element
     * @returns {void}
     */
    editItem(item) {
      this.editedIndex = this.keys.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    /**
     * Key delete handler
     * @param {Object} item currently affected element
     * @returns {void}
     */
    deleteItem(item) {
      const index = this.keys.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.keys.splice(index, 1) &&
        this.schema.keySchema.splice(
          this.schema.keySchema.indexOf(item.name),
          1
        );
    },
    /**
     * Dialog close handler
     * @returns {void}
     */
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    /**
     * Key save handler
     * @returns {void}
     */
    save() {
      if (this.editedItem.name && this.editedItem.value) {
        if (this.editedIndex > -1) {
          Object.assign(this.keys[this.editedIndex], this.editedItem);
        } else {
          this.keys.push(this.editedItem);
        }
        this.close();
      }
      this.schema.langs[this.language][
        this.editedItem.name
      ] = this.editedItem.value;
      if (!this.schema.keySchema.includes(this.editedItem.name)) {
        this.schema.keySchema.push(this.editedItem.name);
      }
    }
  }
};
</script>
