<template>
  <v-menu>
    <template v-slot:activator="{ on: menu }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn color="primary" dark v-on="{ ...tooltip, ...menu }">
            <v-icon left>mdi-translate</v-icon>
            {{ currentLanguageTitle }}
          </v-btn>
        </template>
        <span>change language</span>
      </v-tooltip>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in itemsArray"
        :key="index"
        @click="setCurrentLanguage(item.slug)"
      >
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  props: {
    /* Data schema used to generate the menu items and language data */
    itemsSchema: Object,
    /* Current language's slug */
    language: String
  },
  data: () => ({
    /* {Boolean} flag enabling the tooltip */
    tooltip: true,
    /* {Boolean} flag enabling the menu */
    menu: true
  }),
  computed: {
    /**
     * Schema languages computed to the menu items' format
     * @returns {Array} array of objects ({slug, title})
     */
    itemsArray() {
      return Object.entries(this.itemsSchema).map(([slug, title]) => ({
        slug,
        title
      }));
    },
    /**
     * Current language title got from the data schema with the current language's slug
     * @returns {String} language full title
     */
    currentLanguageTitle() {
      return this.itemsSchema[this.language];
    }
  },
  methods: {
    /**
     * Current language change handler
     * @param {String} slug new current language's slug
     */
    setCurrentLanguage(slug) {
      /**
       * Triggers when the language changes (visible in the parent component)
       * @property {String} slug new language's slug
       */
      this.$emit("language-changed", slug);
    }
  }
};
</script>>
