<template>
  <div data-app>
    <v-app-bar color="deep-purple accent-4" dense dark>
      <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <langs-menu
        :items-schema="schema.langSlugs"
        :language="currentLanguage"
        ref="langsMenu"
        @language-changed="onLanguageChanged"
      />
    </v-app-bar>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row>
          <v-col class="text-center">
            <lang-keys-data-table
              title="Language keys"
              :key="currentLanguage"
              :schema="schema"
              :language="currentLanguage"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer class="font-weight-medium">
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} —
        <strong>{{ appCopyright }}</strong>
      </v-col>
    </v-footer>
  </div>
</template>
<script>
import LangsMenu from "./components/LangsMenu.vue";
import LangKeysDataTable from "./components/LangKeysDataTable.vue";

export default {
  name: "App",
  components: {
    LangsMenu,
    LangKeysDataTable
  },
  data: () => ({
    /* {String} application title */
    appTitle: process.env.VUE_APP_PRJ_TITLE,
    /* {String} application copyright */
    appCopyright: process.env.VUE_APP_PRJ_OWNER,
    /* {Object} data schema example (TODO: replace with proxies & real data) */
    schema: {
      keySchema: ["key1", "key2", "key3"],
      langSlugs: {
        en: "English",
        de: "Deutsch",
        it: "Italian",
        ja: "Japanese (unsupported)"
      },
      langs: {
        en: {
          key1: "hi",
          key2: "how",
          key3: "are you"
        },
        de: {
          key1: "hallo",
          key2: "wie",
          key3: "geht's dir"
        },
        it: {
          key1: "ciao",
          key2: "come",
          key3: "stai"
        }
      }
    },
    /* {String} current language slug (according to the data schema) */
    currentLanguage: null
  }),
  methods: {
    /**
     * Current language change handler
     * @param {String} slug new language's slug
     */
    onLanguageChanged(slug) {
      this.currentLanguage = slug;
    }
  },
  created() {
    // setting the initial current language; y default getting from the local storage
    this.currentLanguage =
      localStorage && localStorage.currentLanguage
        ? localStorage.currentLanguage
        : "en";
  },
  watch: {
    /**
     * Current language change watcher
     * @param {String} slug new current language's slug
     */
    currentLanguage(slug) {
      if (localStorage) {
        localStorage.currentLanguage = slug;
      }
    }
  }
};
</script>

<style lang="scss">
button:focus {
  outline: none;
}
</style>
